name: {{ values.clientDeploymentName }}
databricks:
  account_id: {{ values.databricksAccountId }}
aws:
  region: {{ values.awsRegion }}
templates:
  - default
deployment_name_prefix: {{ values.clientDeploymentName }}
configuration_template: {{ values.configurationTemplate }}