apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ values.clientDeploymentName }}-aws-databricks-provisioner
  description: Databricks Terraform Accelerator deployment with {{ values.configurationTemplate }} configuration for {{ values.clientDeploymentName }}.
  tags:
    - aws
    - databricks
    - terraform
    - {{ values.configurationTemplate }}
  annotations:
    github.com/project-slug: {{ values.githubProjectSlug }}
    databricks.com/configuration-template: {{ values.configurationTemplate }}
spec:
  type: service
  lifecycle: experimental
  owner: {{values.deploymentOwner}}
  system: {{ values.clientDeploymentName }}-data-platform
---
apiVersion: backstage.io/v1alpha1
kind: System
metadata:
  name: {{ values.clientDeploymentName }}-data-platform
  description: Data platform using {{ values.configurationTemplate }} configuration template.
  tags:
    - aws
    - databricks
    - {{ values.configurationTemplate }}
  links:
    - url: https://accounts.cloud.databricks.com/?account_id={{ values.databricksAccountId }}
      title: Databricks Account
      icon: dashboard
      type: admin-dashboard
spec:
  type: feature-set
  owner: {{values.deploymentOwner}}